.view-content .navbar{
    background-color: $navbar-color !important;
    height: 70px;
    margin-bottom: 1px !important;
    border-radius : 2px !important;
    & .nav-pills {
        top: -14px;
        position: relative;
    }
    a.navbar-brand {
        color : #fff !important;
    }
    a.nav-link {
        color : #fff !important;
        &:hover, &:focus{
            background-color: #146c8c !important;
        }
        cursor: pointer;
    }
    .nav-item.active a{
        background-color: #172b3c !important;
    }
}

@include max-screen(300px){
    .view-content .navbar{
        height: 100px !important;
        & .nav-pills {
            top: -3px;
            position: relative;
        }
    }
}